@model SqlD.UI.Models.Services.ServiceFormViewModel

@{
	ViewBag.Title = "services - start";
	Layout = "_Layout";
}

<div class="row">
	<div class="col-md-12">
		<div id="registryList" class="panel panel-default">
			<div class="panel-heading text-left">
				Edit Service
			</div>
			<div class="panel-body">
				<form asp-controller="Service" asp-action="Edit">
					<div class="row form-group text-left">
						<div style="margin-left: 15px; margin-right: 15px;">
							<h4>Service</h4>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-md-2 col-md-offset-1 text-left">
							<label asp-for="Name" style="font-weight: normal"></label>
						</div>
						<div class="col-md-9">
							<input asp-for="Name" class="form-control text" type="text" />
							<span asp-validation-for="Name" class="text-danger"></span>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-2 col-md-offset-1 text-left">
							<label asp-for="Database" style="font-weight: normal"></label>
						</div>
						<div class="col-md-9">
							<input asp-for="Database" class="form-control" type="text" />
							<span asp-validation-for="Database" class="text-danger"></span>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-2 col-md-offset-1 text-left">
							<label asp-for="Host" style="font-weight: normal"></label>
						</div>
						<div class="col-md-9">
							<input asp-for="Host" class="form-control" type="text" disabled="disabled" />
							<span asp-validation-for="Host" class="text-danger"></span>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-2 col-md-offset-1 text-left">
							<label asp-for="Port" style="font-weight: normal"></label>
						</div>
						<div class="col-md-9">
							<input asp-for="Port" class="form-control" type="number" disabled="disabled" />
							<span asp-validation-for="Port" class="text-danger"></span>
						</div>
					</div>
					<div class="row form-group">
						<div class="col-md-2 col-md-offset-1 text-left">
							<label asp-for="Tags" style="font-weight: normal"></label>
						</div>
						<div class="col-md-9">
							<input asp-for="Tags" class="form-control" type="text" />
							<span asp-validation-for="Tags" class="text-danger"></span>
						</div>
					</div>

					<div class="row form-group text-left">
						<div style="margin-left: 15px; margin-right: 15px;">
							<h4>Forwards</h4>
						</div>
					</div>

					<div class="row">
						<div class="col-md-offset-1">
							@for (var i = 0; i < Model.Forwards.Count; i++)
							{
								<div class="col-md-4 text-left">
									<input asp-for="@Model.Forwards[i].Selected" class="form-check-input" type="checkbox" />
									<input asp-for="@Model.Forwards[i].Host" type="hidden" />
									<input asp-for="@Model.Forwards[i].Port" type="hidden" />
									<input asp-for="@Model.Forwards[i].Tags" type="hidden" />
									<input asp-for="@Model.Forwards[i].Uri" type="hidden" />
									<input asp-for="@Model.Forwards[i].AuthorityUri" type="hidden" />
									&nbsp;
									<label asp-for="@Model.Forwards[i].Selected" style="text-transform: capitalize; font-weight: normal !important">
										@Model.Forwards[i].Tags (@Model.Forwards[i].Host:@Model.Forwards[i].Port)
									</label>
								</div>
							}
						</div>
					</div>

					<br />
					<br />
					<input type="hidden" asp-for="Host" />
					<input type="hidden" asp-for="Port" />
					<input class="btn btn-primary" type="submit" value="Update and Restart Service" />
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	$('#Name').focus();
	$('#Host').prop('disabled', true);
	$('#Port').prop('disabled', true);
</script>