@using Microsoft.AspNetCore.Http
@using SqlD.UI.Models.Registry

@inject IHttpContextAccessor Context

RENDER TOKEN <!-- Just to make sure the component is pulled in and rendered -->

<div id="registryList" class="panel panel-default">
	<div class="panel-heading text-left">
		<span style="float: right; top: -5px; position:relative">
			<a href="/service/launch" class="btn btn-sm btn-default" title="Launch new service">
				<i class="fas fa-plus-circle"></i>
			</a>
		</span>
		Registered Services
	</div>
	<div class="panel-body collapse" style="height:30px" aria-expanded="false">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Database</th>
					<th>Tags</th>
					<th>Uri</th>
					<th>State</th>
					<th>Authority Uri</th>
					<th>Last Updated</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			@foreach (var service in Registry.Entries.OrderBy(x => x.Tags))
			{
				<tr>
					<td align="left">@service.Name</td>
					<td align="left">@service.Database</td>
					<td align="left">@service.Tags</td>
					<td align="left">@service.GetRedirectedUri(Context.HttpContext.Request)</td>
					<td align="left">@service.State</td>
					<td align="left">@service.GetRedirectedAuthorityUri(Context.HttpContext.Request)</td>
					<td align="left">@service.LastUpdated</td>
					<td align="center">
						<a target="_service_id_" href="@service.GetRedirectedUri(Context.HttpContext.Request)api/id" class="btn btn-xs btn-default" title="Service ID for @service.GetRedirectedUri(Context.HttpContext.Request)">
							<i class="far fa-id-card"></i>
						</a>
						<a target="_service_swag_" href="@service.GetRedirectedUri(Context.HttpContext.Request)swagger" class="btn btn-xs btn-default" title="Swagger for @service.GetRedirectedUri(Context.HttpContext.Request)">
							<i class="fas fa-battery-full"></i>
						</a>
						<button service-uri="@service.GetRedirectedUri(Context.HttpContext.Request)" class="btn btn-xs btn-primary" title="Connect to @service.GetRedirectedUri(Context.HttpContext.Request)">
							<i class="fas fa-plug"></i>
						</button>
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>

@code {

	[Parameter]
	public RegistryViewModel Registry { get; set; } = new RegistryViewModel(new List<RegistryEntryViewModel>());
    
}
