@inherits RegistryListBase

<div class="card card-default">
	<div class="card-header text-left">
		<span style="float: right; top: -5px; position:relative">
			<a type="button" href="/service/launch" class="btn btn-sm btn-outline-secondary" title="Launch new service">
				<i class="fa fa-plus-circle"></i>
			</a>
		</span>
		Registered Services
	</div>
	<div class="card-body">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Database</th>
					<th>Tags</th>
					<th>Uri</th>
					<th>State</th>
					<th>Authority Uri</th>
					<th>Last Updated</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			@foreach (var service in Registry.Entries.OrderBy(x => x.Tags))
			{
				<tr>
					<td align="left">@service.Name</td>
					<td align="left">@service.Database</td>
					<td align="left">@service.Tags</td>
					<td align="left">@service.RedirectedUri</td>
					<td align="left">@service.State</td>
					<td align="left">@service.RedirectedAuthorityUri</td>
					<td align="left">@service.LastUpdated</td>
					<td align="center">
						<button target="_service_id_" href="@service.RedirectedUri/api/id" class="btn btn-sm btn-outline-secondary" title="Service ID for @service.RedirectedUri">
							<i class="far fa-id-card"></i>
						</button>
						<button target="_service_swag_" href="@service.RedirectedUri/swagger" class="btn btn-sm btn-outline-secondary" title="Swagger for @service.RedirectedUri">
							<i class="fas fa-battery-full"></i>
						</button>
						<button service-uri="@service.RedirectedUri" class="btn btn-sm btn-primary" title="Connect to @service.RedirectedUri">
							<i class="fas fa-plug"></i>
						</button>
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>

