@model SqlD.UI.Models.Registry.RegistryViewModel

<div id="registryList" class="panel panel-default">
	<div class="panel-heading text-left">
		<span style="float: right; top: -5px; position:relative">
			<a href="/service/launch" class="btn btn-sm btn-default" title="Launch new service">
				<i class="fas fa-plus-circle"></i>
			</a>
		</span>
		Registered Services
	</div>
	<div class="panel-body collapse" style="height:30px" aria-expanded="false">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Database</th>
					<th>Tags</th>
					<th>Uri</th>
					<th>State</th>
					<th>Authority Uri</th>
					<th>Last Updated</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			@foreach (var service in Model.Entries.OrderBy(x => x.Tags))
			{
				<tr>
					<td align="left">@service.Name</td>
					<td align="left">@service.Database</td>
					<td align="left">@service.Tags</td>
					<td align="left">@service.GetRedirectedUri(Context.Request)</td>
					<td align="left">@service.State</td>
					<td align="left">@service.GetRedirectedAuthorityUri(Context.Request)</td>
					<td align="left">@service.LastUpdated</td>
					<td align="center">
						<a target="_service_id_" href="@service.GetRedirectedUri(Context.Request)api/id" class="btn btn-xs btn-default" title="Service ID for @service.GetRedirectedUri(Context.Request)">
							<i class="far fa-id-card"></i>
						</a>
						<a target="_service_swag_" href="@service.GetRedirectedUri(Context.Request)swagger" class="btn btn-xs btn-default" title="Swagger for @service.GetRedirectedUri(Context.Request)">
							<i class="fas fa-battery-full"></i>
						</a>
						<button service-uri="@service.GetRedirectedUri(Context.Request)" class="btn btn-xs btn-primary" title="Connect to @service.GetRedirectedUri(Context.Request)">
							<i class="fas fa-plug"></i>
						</button>
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>

<script>
	$(() => {

		// Toggle panel
		$('#registryList .panel-heading').on('click', (e) => {
			$('#registryList .panel-body').collapse('toggle');
		});

		// Registry url event
		$('#registryList button').on('click', (e) => {
			const registryUrlEventName = 'registry.url';
			var serviceElement = e.toElement.tagName.toUpperCase() == "I" ? e.toElement.parentElement : e.toElement;
			let serviceUri = $(serviceElement).attr('service-uri');
			radio(registryUrlEventName).broadcast(serviceUri);
			$('#registryList .panel-body').collapse('toggle');
		});
	});
</script>